.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.SubHeader {
  margin: 4vh;
}

.SwitchPage, .PageNumber {
  margin-left: 2vh;
  margin-right: 2vh;
}

.SearchBar {
  margin-right: 10vh;
  margin-bottom: 5vh;
}

.CityName {
  margin-right: 40vh;
}

.CityHeader {
  margin-bottom: 2vh;
}

.City {
  margin-bottom: 8vh;
}